/************************ SYSTEM GRID *********************/

.grid {
  margin: 5% 10%;
  width: 100%;
  clear: both;
  padding: 20px;
}

.column-1 {
  display: block;
  float: left;
  width: 6.66%;
}
.column-2 {
  display: block;
  float: left;
  width: 13.33%;
}
.column-3 {
  display: block;
  float: left;
  width: 19.99%;
}
.column-4 {
  display: block;
  float: left;
  width: 26.66%;
}
.column-5 {
  display: block;
  float: left;
  width: 33.33%;
}
.column-6 {
  display: block;
  float: left;
  width: 39.99%;
}
.column-7 {
  display: block;
  float: left;
  width: 46.66%;
}
.column-8 {
  display: block;
  float: left;
  width: 53.33%;
}
.column-9 {
  display: block;
  float: left;
  width: 59.99%;
}
.column-10 {
  display: block;
  float: left;
  width: 66.66%;
}
.column-11 {
  display: block;
  float: left;
  width: 73.33%;
}.column-12 {
  display: block;
  float: left;
  width: 80%;
}

/************************ NAV BAR *********************/

body {
  font-family: 'Raleway', sans-serif;
  background-color: #fcffad;
  background-image: url("http://www.transparenttextures.com/patterns/skulls.png");
  margin: 0;
}

.logo{
  z-index:9999;
  float: left;
  width: 9em;
  transform: rotate(-21deg);
  margin-top: -20px;
  position: absolute;
  left:0;
  top:0;

}
.navbar {
  background-color: #99e6ff;
  height: 110px;
  box-shadow: 2px 1px 14px #888888;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
.navbar-links{


}
.navbar a {
  font-size: 1.5em;
  color: #C3A3B6;
  padding: 1.5em;
  text-decoration: none;
  text-shadow: rgb(216, 210, 210) 4px 3px 0px;
  font-family: 'Candal', sans-serif;
}
.navbar a:hover {
  color: white;
}
.navbar h3 {
  display: inline-block;
}
.nav-links {
  padding-top: 13px;
  margin-left: 60px;
}

.navbar-links {
  margin-left: 20%;
}
body > nav > div > h3:nth-child(2) {
  margin-left: -66px;
}

/********************** BLOG PAGE ******************/

.image-wrapper {
  position:relative;
  width: 100%;
  height: 0;
}

.home-image{
  position:relative;
  width:100%;
  margin-top:110px;
}

.blog-content article{
  margin-bottom: 100px;
  padding: 2em 4em;
  border: 1px solid black;
  border-radius: 2em;
}
.blog-content{
  margin:5% 15%;
}

.container {
  margin-top: 150px;
  margin-bottom: 80px;
}

/******************* PROFILE PAGE - info links *******************/

.info {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  display: block;
  opacity: 1;
  margin-top: 30px;
}

.linkedIn img, .github img, .codewars img {
  height: 45px;
  width: 45px;
  padding: 0 5px 0 12px;
}

/****************** PROFILE PAGE - rotate animation **************/

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
width: 250px;
height: 300px;
margin-right: auto;
margin-left: auto;
display: block;
cursor: pointer;
}

.flipper {
transition: 0.6s;
transform-style: preserve-3d;
position: relative;
}

.front, .back {
backface-visibility: hidden;
position: absolute;
top: 0;
left: 0;
}

.front img, .back img {
  width: 100%;
  height: 100%;
  border: 7px solid lightblue;
  border-radius: 16px;
}

.front img {
  margin-left: -14px;
}

.back {
transform: rotateY(180deg);
}

.front .name {
font-size: 21px;
display: inline-block;
background: rgba(33, 33, 33, 0.8);
color: #f8f8f8;
font-family: Courier;
padding: 5px 10px;
border-radius: 5px;
bottom: 30px;
left: 25%;
position: absolute;
text-shadow: 0.1em 0.1em 0.05em #333;
transform: rotate(-18deg);
margin-right: 17px;
}

/****************** PROFILE PAGE - Summary style ****************/

.space {
  height: 100px;
}

.column-8 {
  margin-left: auto;
  margin-right: auto;
}

.column-12 p {
  font-size: 20px;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 60px;
}

.column-12 h2  {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 75px;
  margin-bottom: 35px;
  font-family: 'Candal', sans-serif;
  color: #FCFFAD;
}

div:nth-child(3) > div.top > div {
  background-color: rgba(228, 180, 209, 0.7);
  border-radius: 25px;
  margin-bottom: 80px;
}

.coming {
  font-size: 76px;
  transform: rotate(-22deg);
  text-align: center;
  margin-top: 25%;
  text-shadow: rgb(216, 210, 210) 10px 10px 0px;
  font-family: 'Candal', sans-serif;
  color: #C3A3B6;
}

/************************** NEWSPAGE ***************************/

.AT-bg {
  position: absolute;
  z-index: -1;
  opacity: 0.7;
  width: 100%;
  min-width: 1180px;
}

.newspaperman {
  margin: 10em auto 14em auto;
  width: 55%;
  padding: 25px;
  background-color: rgba(255, 192, 203, 0.63);
  border-radius: 15px;
}

.newspaperman h3 {
  color: purple;
  text-shadow: 0.5px 0;
  text-align: center;
}

.newspaperman a { font-weight: 700; }

#news-movie input {
  font-size: 14px;
  height: 30px;
  color: rebeccapurple;
  outline: none;
  font-weight: 700;
  border: none;
}

#news-movie input:first-child { margin-right: 10px; }

#news-movie .inputs {
  margin-left: auto;
  margin-right: auto;
  width: 575px;
}

#submitBtn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 20px auto 0 auto;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  background-color: skyblue;
  color: white;
  border: none;
  border-radius: 30px;
  text-shadow: 1px 1px black;
}

#news-movie a {
  text-decoration: none;
  display: block;
  padding-top: 30px;
  text-align: center;
}

.newsstory .article-title {
  background-color: rgba(255, 255, 255, 0.4);
  width: 80%;
  padding: 20px 20px;
  text-align: center;
  margin: 0 auto 0 auto;
  text-decoration: overline;
  text-transform: uppercase;
  line-height: 1.8em;
  font-weight: lighter;
}

.newsstory a { color: #F6B2B2; }

.newsstory p { color: #225C79; }

.newsstory .date {
    text-align: right;
    font-style: italic;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 0px;
}

.readingnewspaper {
  margin-right: 40%;
  margin-left: 40%;
}
.newsstory article{
  margin-bottom: 100px;
  padding: 2em 4em;
  border-radius: 2em;
  background-color: rgba(195, 163, 182, 0.22);
}
.newsstory{
  margin:5% 15%;
}
.topspace {
  height: 110px;
}

/******************* NEWSPAGE - filmapi ******************/
#poster {
  width: 35%;
  display: inline-block;
  padding: 0;
  margin: auto;
}

#filmdetails {
  width: 40%;
  display: inline-block;
  margin:auto;
  vertical-align: top;
  padding: 0 10px;
}
#leposter{
  vertical-align: top;
  border-radius: 2em;
  height: 100%;
  -webkit-animation: fadein infinite 10s;
}
@-webkit-keyframes fadein {
   0% {    -webkit-filter: hue-rotate(0deg)}
  50% { -webkit-filter:  hue-rotate(180deg);}
 100% {  -webkit-filter: hue-rotate(360deg);}
}

#plot {
  width: 20%;
  display:inline-block;
  margin: auto;
  vertical-align: top;
}

/****************** media query ********************/

@media screen and (max-width: 1315px) {
  .newspaperman {
    margin: 90px auto 10em auto;
  }
}

@media screen and (max-width: 1155px) {
  nav-bar a { padding: 1em;}

@media screen and (max-width: 1285px) {
  #news-movie .inputs { width: 520px; }
}
@media screen and (max-width: 1035px) {
  .navbar a { font-size: 23px; }
}
@media screen and (max-width: 860px) {
  .navbar a { font-size: 23px;
    padding: 25px; }
    .column-12 p { padding: 0 35px; }
    .coming { margin-top: 36%; }
  }
  @media screen and (max-width: 702px) {
    .navbar a {
      font-size: 19px;
      padding: 11px;
    }
    .nav-links { padding-left: 0px; }

  }
